<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    <% if user_signed_in? %>	
	      <a class="navbar-brand" href="/projects">ToDo List</a>
	      <%else%>
	      <a class="navbar-brand" href="#">ToDo List</a>
	    <%end%>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    <% if user_signed_in? %>
	    	<li><a href="/users/edit"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
	    	<li><a href="/users/sign_out"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
		<%end%>
	    </ul>
	  </div>
	</nav>
	
	
		
<%= yield %>

</body>
</html>
